<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftXWTrasition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E68DD9FB1D58255400B87E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68DDA0F1D58255400B87E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E68DDA1A1D58255400B87E69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
